*{
	margin:0px;
	padding:0px;
	border:0px;
}
html{
	background-color:#fafda3;
}
#topMenu{
	width:100%;
	height:16%;
	background-color:#ffe148;
}
#icon{
	width:60px;
	height:60px;
	position:absolute;
	left:120px;
	top:15px;
}
#webid{
	position:absolute;
	left:190px;
	top:35px;
	font-family:汉仪菱心体简;
	font-size:30px;
	color:#EE4000;
}
#current_usr{
	float:right;
	font-weight:bold;
	font-family:SimHei;
	font-size:20px;
	margin-right:-170px;
	margin-top:65px;
	color:#EE4000;
}
#usr{
	font-style:italic;
}
a.usr_a{
	text-decoration:none;
	font-size:20px;
	font-weight:bold;
	color:#EE4000;
	font-family:SimHei;
}
#host_adm{
	float:right;
	margin-top:60px;
	margin-right:140px;
}
#menu_bar_first{
	width:410px;
	height:35px;
	float:left;
}
#menu_bar_last{
	width:400px;
	height:35px;
	float:right;
}
#menu_host{
	height:35px;
	margin-left:10px;
	margin-right:0px;
}
#menu_host:hover{
	position: relative;
	top: 3px;
}
#panel_title{
	width:850px;
	height:60px;
	background-color:#ffe148;
	margin-left:250px;
	-webkit-border-radius:5px;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#ffffff), to(#ffe148));
}
img.menu_element{
	height:35px;
}
img.menu_element:hover{
	position: relative;
	top: 3px;
}
input.btn{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	color: #ffffff;
	border: solid 1px none;
	background: #FFa07a;
}
input.btn:hover {
	text-decoration: none;
	
	background: #FF6347;
}
input.btn:active {
	position: relative;
	top: 1px;
	
	color: #000000;
}