*{
	margin:0px;
	padding:0px;
	border:0px;
}
html{
	background-color:#D1D1D1;
}
#topMenu{
	width:100%;
	height:16%;
	background:-webkit-linear-gradient(top,#D1D1D1,#FFFFFF);
}
#icon{
	margin-left:5px;
	display:inline;
}
#mainlink{
	position:absolute;
	left:1250px;
	top:80px;
	display:inline;
}
#title{
	position:absolute;
	margin-left:0.5%;
	margin-top:1.5%;
	font-family:SimHei;
	font-size:60px;
}
#subtitle{
	position:absolute;
	margin-left:30%;
	margin-top:3.5%;
	font-family:LiSu;
	font-size:30px;
}
div.select{
	width:140px;
	height:140px;
	background-color:#FFFFFF;
	text-align:center;
	line-height:140px;
	float:left;
	display:inline;
	border:solid 3px #FFFFFF;
	background-color:#EAEAEA;
	margin-left:1.6%;
	margin-top:15% 
}
div.select:hover{
	background-color:#D1D1D1;
}
label.selectlabel{
	font-family:KaiTi;
	font-size:30px;
	font-weight:bold;
}
input.btn{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	color: #000000;
	border: solid 1px none;
	background: #FFa07a;
}
input.btn:hover {
	text-decoration: none;
	
	background: #FF6347;
}
input.btn:active {
	position: relative;
	top: 1px;
	
	color: #000000;
}