*{
	margin:0px;
	padding:0px;
	border:0px;
}
html{
	background-color:#D1D1D1;
}
#login{
	width:400px;
	height:200px;
	text-align:center;
	background-color:#EAEAEA;
	margin-left:auto;
	margin-right:auto;
	margin-top:180px;
	padding-top:100px;
	background:-webkit-linear-gradient(top,#D1D1D1,#FFFFFF);
	border:solid 1px #000000;
}
input{
	border:solid 1px #000000;
}