*{
	margin:0px;
	padding:0px;
	border:0px;
}
html{
	background-color:#D1D1D1;
}
#main{
	background-color:#FFFFFF;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	padding-top:5px;
	padding-bottom:20px;
	-webkit-box-shadow:1px 1px 20px #222;
}
#topMenu{
	background-color:#EAEAEA;
	width:99%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	padding-bottom:5px;
	padding-top:5px;
}
#icon{
	margin-left:5px;
	display:inline;
}
#mainlink{
	position:absolute;
	left:560px;
	top:80px;
	display:inline;
}
#form1{
	width:241px;
	display:inline;
}
#resultpanel{
	width:99%;
	background-color:#EAEAEA;
	padding-bottom:1px;
	padding-top:1px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
}
#searchresult{
	width:99%;
	background-color:#EAEAEA;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
}
#title{
	width:99%;
	overflow:none;
	border:none;
	font-size:12;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
}
#titlelabel{
	font-family:SimHei;
	font-weight:bold;
	color:BLUE;
	font-size:35px;
	margin-left:10px;
}
#a_title{
	text-decoration:none;
	font-family:SimHei;
	font-weight:bold;
	color:BLUE;
	font-size:25px;
}
#content{
	width:99%;
	overflow:none;
	border:none;
	font-size:10;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
}
#contentlabel{
	font-size:20;
	font-family:SimHei;
	margin-left:40px;
	font-weight:bold;
}
#search_text{
	height:25px;
	
}
#info{
	width:99%;
	height:22px;
}
label.info{
	float:right;
	font-size:10px;
}
#backresource{
	float:right;
	margin-right:5px;
}
input.btn{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	color: #000000;
	border: solid 1px #98F5FF;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#98F5FF), to(#8EE5EE));
}
input.btn:hover {
	text-decoration: none;
	
	background: #000000;
	background: -webkit-gradient(linear, left top, left bottom, from(#8DEEEE), to(#8EE5EE));
}
input.btn:active {
	position: relative;
	top: 1px;
	
	color: #000000;
	background: -webkit-gradient(linear, left top, left bottom, from(#8DEEEE), to(#8EE5EE));
}
#ziyuanqu{
	position:absolute;
	margin-left:0.5%;
	margin-top:1.5%;
	font-family:LiSu;
	font-size:60px;
}