*{
	margin:0px;
	padding:0px;
	border:0px;
}
html{
	background-color:#D1D1D1;
}
#main{
	background-color:#FFFFFF;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	padding-top:5px;
	padding-bottom:5px;
}
#topMenu{
	background-color:#EAEAEA;
	width:99%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	padding-top:5px;
	padding-bottom:5px;
}
#icon{
	margin-left:5px;
	display:inline;
}
#mainlink{
	position:absolute;
	left:810px;
	top:80px;
	display:inline;
}
#form1{
	width:241px;
	display:inline;
}
#upload{
	width:99%;
	margin-left:auto;
	margin-right:auto;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#EAEAEA;
}
#uploadtitle{
	margin-left:45%;
}
#form2{
	margin-left:250px;
	width: 518px;
}
#title{
	overflow:none;
	resize:none;
}
#content{
	resize:none;
	overflow:none;
}
input{
	border:solid 1px #000000;
}
textarea{
	border:solid 1px #000000;
}
#ziyuanqu{
	position:absolute;
	margin-left:0.5%;
	margin-top:1.5%;
	font-family:LiSu;
	font-size:60px;
}