*{
	margin:0px;
	padding:0px;
	border:0px;
}
html{
	background-color:#FFEC8B;
}
#main{	
	background-color:#FFFFFF;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	-webkit-box-shadow:1px 1px 20px #222;
}
#topMenu{
	background-color:#FFFACD;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:5px;
}
#icon{
	margin-left:5px;
	display:inline;
}
#mainlink{
	position:absolute;
	left:840px;
	top:73px;
	display:inline;
}
#form1{
	width:241px;
	display:inline;
}
#picwall{
	width:99%;
	background-color:#EAEAEA;
	margin-left:auto;
	margin-right:auto;
	padding-top:5px;
	padding-bottom:5px;
}
img.pic{
	width:100px;
	height:100px;
}
#homework{
	width:100%;
	background-color:C5C1AA;
	padding-top:1px;
	padding-bottom:1px;
}
#searchresult{
	width:98%;
	background-color:#EEEEE0;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
}
#title{
	width:99%;
	overflow:none;
	border:none;
	font-size:12;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
}
#titlelabel{
	color:2E8B57;
	margin-left:10px;
	margin-top:5px;
}
#a_title{
	text-decoration:none;
	font-family:张海山锐线体简;
	font-weight:bold;
	color:2E8B57;
	font-size:25px;
}
#search_text{
	height:25px;
	border:solid 1px;
	border-color:#FFa07a;
}
#info{
	width:99%;
	height:22px;
}
label.info{
	float:right;
	font-size:10px;
}
input.btn{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	color: #000000;
	border: solid 1px none;
	background: #FFa07a;
}
input.btn:hover {
	text-decoration: none;
	
	background: #FF6347;
}
input.btn:active {
	position: relative;
	top: 1px;
	
	color: #000000;
}
#zuoyequ{
	position:absolute;
	margin-left:0.5%;
	margin-top:1.5%;
	font-family:汉仪菱心体简;
	color:#EE4000;
	font-size:60px;
}