#current_panel{
	width:98px;
	height:35px;
	background-color:#ffe148;
	margin-left:844px;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#ffe148), to(#ffffff));
}
#resultpanel{
	margin-left:250px;
	margin-top:3px;
	width:850px;
	background-color:#ffe148;
	-webkit-border-radius:5px;
	padding-top:1px;
	padding-bottom:1px;
}
#titlestar{
	color:2E8B57;
	font-size:20px;
	font-weight:bold;
	margin-left:10px;
	margin-top:10px;
}
#titlelabel{
	color:2E8B57;
	font-family:张海山锐线体简;
	font-size:35px;
	font-weight:bold;
	margin-left:10px;
	margin-top:10px;
}
#contentlabel{
	font-family:youyuan;
	font-size:25px;
	margin-left:50px;
	margin-top:10px;
}
#atextarea{
	-webkit-border-radius:5px;
	border:solid 1px #FFa07a;
	overflow:none;
	resize:none;
	width:98%;
	margin-left:10px;
	margin-bottom:10px;
}
#submitanswer{
	margin-bottom:10px;
	margin-left:44.5%;
}
#testresult,#answerpanel,#limittime_panel,#stopanswer{
	-webkit-border-radius:5px;
	width:98%;
	background-color:#EEEEE0;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
}
#stopanswer{
	font-family:youyuan;
	font-weight:bold;
	color:#EE4000;
}
#limittime_panel{
	font-size:20;
	font-family:youyuan;
}
#time_notice{
	position:relative;
	left:15px;
}
label.test_time{
	font-weight:bold;
	color:#EE4000;
}
#form2{
	position:relative;
	top:10px;
}
#ausr{
	font-family:张海山锐线体简;
	font-weight:bold;
	color:2E8B57;
	font-size:25px;
}
#atime{
	float:right;
	font-size:10px;
	height:22px;
	width:99%;
}
#acontent{
	font-size:20;
	font-family:youyuan;
	margin-left:50px;
}
#ascore{
	font-family:youyuan;
	color:#EE4000;
}
#ceshiqu{
	position:absolute;
	margin-left:1.5%;
	margin-top:1.8%;
	font-family:汉仪菱心体简;
	color:#EE4000;
	font-size:20px;
}