#current_panel{
	width:98px;
	height:35px;
	background-color:#ffe148;
	margin-left:966px;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#ffe148), to(#ffffff));
}
#resultpanel{
	-webkit-border-radius:5px;
	margin-left:250px;
	margin-top:3px;
	width:850px;
	background-color:#ffe148;
	-webkit-border-radius:5px;
	padding-top:1px;
	padding-bottom:1px;
}
#resultcontent{
	-webkit-border-radius:5px;
	width:70%;
	height:50%;
	background-color:#EEEEE0;
	margin-left:auto;
	margin-right:auto;
	margin-top:4.6%;
	margin-bottom:4.6%;
}
#course_name_label,#start_label,#to_label{
	position:relative;
	top:30%;
	left:15%;
	color:2E8B57;
	font-family:张海山锐线体简;
	font-size:30px;
	font-weight:bold;
}
#to_label{
	position:relative;
	top:30%;
	left:15%;
}
#not_in_class{
	position:relative;
	top:45%;
	left:15%;
	color:2E8B57;
	font-family:张海山锐线体简;
	font-size:30px;
	font-weight:bold;
}
#course_name,#start,#end{
	position:relative;
	top:30%;
	left:15%;
	font-family:youyuan;
	font-size:30px;
	font-weight:bold;
}
td.t1{
	background-color:#EEEEE0;
	color:#FFa07a;
	font-family:张海山锐线体简;
	font-size:25px;
	font-weight:bold;
	margin-top:5px;
}
#table{
	-webkit-border-radius:5px;
	margin-left:auto;
	margin-right:auto;
}
#qiandao{
	position:absolute;
	margin-left:1.5%;
	margin-top:1.8%;
	font-family:汉仪菱心体简;
	color:#EE4000;
	font-size:20px;
}