#current_panel{
	width:98px;
	height:35px;
	background-color:#ffe148;
	margin-left:525px;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#ffe148), to(#ffffff));
}
#upload_resource{
	position:absolute;
	left:970px;
	top:198px;
}
#search_button{
	position:absolute;
	left:830px;
	top:198px;
}
#search_text{
	position:absolute;
	left:650px;
	top:200px;
	height:25px;
	border:solid 1px;
	border-color:#FFa07a;
	-webkit-border-radius: 5px;
}
#upload{
	margin-left:250px;
	margin-top:3px;
	width:850px;
	background-color:#ffe148;
	-webkit-border-radius:5px;
	padding-top:1px;
	padding-bottom:1px;
}
#form2{
	margin-left:auto;
	margin-right:auto;
	margin-top:12px;
	padding-top:25px;
	padding-left:50px;
	padding-bottom:25px;
	-webkit-border-radius:5px;
	width: 518px;
	background-color:EEEEE0;
}
label.upload_info{
	font-family:张海山锐线体简;
	font-weight:bold;
	color:2E8B57;
}
#title,#content{
	overflow:none;
	resize:none;
	-webkit-border-radius:5px;
	font-size:25px;
}
#choose_file{
	font-size:15px;
	font-family:youyuan;
}
textarea{
	border:solid 1px #FFa07a;
}
#info{
	width:99%;
	height:22px;
}
label.info{
	float:right;
	font-size:10px;
}
#ziyuanqu{
	position:absolute;
	margin-left:1.5%;
	margin-top:1.8%;
	font-family:汉仪菱心体简;
	color:#EE4000;
	font-size:20px;
}