*{
	margin:0px;
	padding:0px;
	border:0px;
}
html{
	background-color:#FFEC8B;
	background-image:url(/Cloud-Based-Intelligent-Educational-Platform/image/context.jpg);
}
#main{	
	background-color:#FFFFFF;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	-webkit-box-shadow:1px 1px 20px #222;
}
#topMenu{
	background-color:#FFFACD;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:5px;
}
#icon{
	margin-left:5px;
	display:inline;
}
#mainlink{
	position:absolute;
	left:567px;
	top:73px;
	display:inline;
}
#form1{
	width:241px;
	display:inline;
}
#search_text{
	height:25px;
	border:solid 1px;
	border-color:#FFa07a;
}
#upload{
	background-color:C5C1AA;
	padding-top:1px;
	width:100%;
	height:83.3%;
}
#form2{
	margin-left:250px;
	margin-top:75px;
	padding-top:25px;
	padding-left:50px;
	padding-bottom:25px;
	width: 518px;
	background-color:EEEEE0;
}
label.upload_info{
	font-family:张海山锐线体简;
	font-weight:bold;
	color:2E8B57;
}
#title,#content{
	overflow:none;
	resize:none;
}
textarea{
	border:solid 1px #FFa07a;
}
#info{
	width:99%;
	height:22px;
}
label.info{
	float:right;
	font-size:10px;
}
input.btn{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	color: #000000;
	border: solid 1px none;
	background: #FFa07a;
}
input.btn:hover {
	text-decoration: none;
	
	background: #FF6347;
}
input.btn:active {
	position: relative;
	top: 1px;
	
	color: #000000;
}
#backresource{
	margin-left:46%;
	margin-top:20px;
}
#ziyuanqu{
	position:absolute;
	margin-left:0.5%;
	margin-top:1.5%;
	font-family:汉仪菱心体简;
	color:#EE4000;
	font-size:60px;
}